[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
sidetable = "*"
jinja2 = "*"
matplotlib = "*"
xhtml2pdf = "*"

[requires]
python_version = "3.7"
